Main/Src/flows/CQ_TASK_Investigation_After_Update_RT_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Investigation_Completed</name>
        <label>Check Investigation Completed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Investigation_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.compliancequest__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Investigation_Values_on_Complaint</targetReference>
            </connector>
            <label>Is Investigation Completed</label>
        </rules>
    </decisions>
    <description>This is a Record Trigger Flow for Investigation Object on After Update.</description>
    <environments>Default</environments>
    <interviewLabel>CQ Investigation After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CQ_TASK_Investigation_After_Update_RT_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Investigation_Completed</targetReference>
        </connector>
        <object>compliancequest__SQX_Investigation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>This will invoke the sub flow to update values on Complaint from Investigation.</description>
        <name>Copy_Investigation_Values_on_Complaint</name>
        <label>Copy Investigation Values on Complaint</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>CQ_TASK_Complaint_OnInvestigationComplete_SubFlow</flowName>
        <inputAssignments>
            <name>InRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
