Main/Src/flows/CQ_TASK_Complaint_OnInvestigationComplete_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>This is a Sub Flow for updating Complaint Investigation Fields on Completion of related Investigation.</description>
    <environments>Default</environments>
    <interviewLabel>CQ_TASK_Complaint_OnInvestigationComplete_SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CQ_TASK_Complaint_OnInvestigationComplete_SubFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Linked Investigation to get the Complaint linked to Investigation.</description>
        <name>GetLinkedInvestigation</name>
        <label>GetLinkedInvestigation</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Complaint_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>compliancequest__SQX_Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>compliancequest__SQX_Linked_Investigation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This will update the  Investigation Summary &amp; Results of Investigation values on Complaint from Investigation Record.</description>
        <name>Update_Complaint_Record</name>
        <label>Update Complaint Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLinkedInvestigation.compliancequest__SQX_Complaint__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CQ_TASK_Investigation_Summary__c</field>
            <value>
                <elementReference>InRecord.compliancequest__Investigation_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CQ_TASK_Results_of_Investigation__c</field>
            <value>
                <elementReference>InRecord.compliancequest__Conclusion__c</elementReference>
            </value>
        </inputAssignments>
        <object>compliancequest__SQX_Complaint__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLinkedInvestigation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>compliancequest__SQX_Investigation__c</objectType>
    </variables>
</Flow>
